.video{
    border-radius: 8px;
    transform: rotateY(180deg);
    height: 100%;
    /* object-fit: cover; */
    width: 100%;
    
    /* Safari and Chrome */
    -webkit-transform:rotateY(180deg);
    /* Firefox */
    -moz-transform:rotateY(180deg); 
}

