.video{
    border-radius: 8px;
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg); 
    height: 300px;
}

@media only screen and (max-heigt: 480px) {

    .video{
        height: 200px;
    }
  }